doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="A collection of resources and commentary for those who plan and lead weekly Christian worship")
    meta(property="og:title" content="Worship Helps")
    meta(property="og:site_name" content="WorshipHelps")
    meta(property="og:url" content="https://worshiphelps.blogs.com/worship_helps/")
    meta(property="og:description" content="A collection of resources and commentary for those who plan and lead weekly Christian worship")
    meta(property="og:type" content="blog")
    meta(property="fb:admins" content="")
    meta(property="fb:app_id" content="5575381869")
    meta(property="og:image" content="https://up6.typepad.com/6a00d8341c423653ef00e5501d7c178834-220si")
    link(rel="stylesheet" href="/style/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora%7CKreon%7CAlice" media="all")
    title WorshipHelps
  body
    header
      h1#header-title
        a(href="/worship_helps/") WorshipHelps
      h2#header-desc A collection of resources and commentary for those who plan and lead weekly Christian worship
    #column-wrapper 
      .column-grid-root
        .column.col-1-of-3
          section.about
            h4.title About
            .container
              p Welcome! This website is intended for thoughtful but harried worship planners. We invite you to explore the resources available here for planning and leading worship.
              p Since this is a collaborative effort, we also invite you to contribute. All are welcome to comment freely; if you are interested in becoming a posting member of this community, please click here.
              p If you don't want to post regularly, but do have a question, or want us the community to address a particular issue, feel free to email.
          section.contributers
            h4.title Contributers
            .container
              .li Tom Trinidad
              .li Thomas Nelson
              .li Taylor Burton-Edwards
              .li Ron Rienstra
              .li Peter Armstrong
              .li Kevin Anderson
              .li Kent Hendricks
              .li Kendra Hotz
              .li John Williams
              .li John Thornburg
              .li Guy Higashi
              .li Greg Scheer
              .li Eric Herron
              .li Debra Avery
              .li Clay Schmit
              .li Chip Andrus
              .li Brian Paulson
              .li Brad Andrews
              .li Bob Keeley
              .li Andrew Donaldson
        .column.col-2-of-3
          block col2
        .column.col-3-of-3
          section.categories
            h4.title Categories
            .container
              each cat in Object.keys(collections).filter(key => !['all', 'post', 'doublePagination'].includes(key)).sort()
                a(href=`/worship_helps/${cat}/`).link #{cat}
          section.archives
            h4.title archives
            .container 

