extends base.pug
include mixins.pug

block col2
  article.post
    h3.post-title #{title}
    h5.post-date #{global.moment(date).format('MMMM DD, YYYY')}
    .post-content !{content}
    +postFooter({date: date, tags: tags, permalink: permalink})